body {
    margin: 0;
}
div#wrap {
    width: auto;
    margin: 0 auto;
    background: #000000;
}

/* 제목부분  */
header#header {
    background: #222222;
    color: #FFFFFF;
    border-bottom: solid 2px #FFFFFF;
    font-family: 'GmarketSans';
}

section#container1 {
    background: #000000;
    height: calc(100vh - 100px)
}


div#warp,
header#header,
nav#nav,
section#container1,
div.content,
aside#aside,
/* footer부분 글씨 여백 */
footer#footer {
    padding: 10px;
}

.article1{
    height: 100%;
}

/* body_ 알고리즘 동작화면, 버튼, 설명칸 */

/* 알고리즘 동작화면 */
 #main{
    width: 100%;
    height: 70%;
    background-color: #000000;
    display: table;
    border-bottom: solid 2px #FFFFFF;
}

/* 버튼, 슬라이더 */
#main_left{
    height:30%;
    width: 20%;
    background-color:#222222;
    float: left;
    border-right: solid 2px #FFFFFF;
    
 }

/* 설명칸 */
 #main_right{
     height: 30%;
     width: 79.85%;
     background-color: #222222;
     float: right;
     color: #FFFFFF;
     font-family: 'NexonMaplestory';
     display: flex;
     align-items: center;
 }


 #container {
    grid-area: container;
    width: 100%;
    height: 30%;
    
}

#bars {
    margin: auto;
    width: 700px;
    height: 500px;
}

.bar {
    background: green;
    display: inline-block;
    border-right: 2px solid #000;
    margin: 0px;
    position: relative;
    bottom: 0px;
    vertical-align: top;
    text-align: center;
    font-weight: bold;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (max-width: 1000px) {
    body {
        grid-template-areas: "menu" "container" "algo-info";
        grid-template-rows: 100px 1fr;
        grid-template-columns: 100vw 1fr;
    }

    #algo-info {
        padding: 10px 0px;
    }
}

.compared {
    transition: background-color ease-in 0.1s;
    background: #77c9d4;
}